@model NesrineDziri.Models.MakeUp

@{
    ViewData["Title"] = "Create";
}

<h1>Add New</h1>

<h4>MakeUp</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nom" class="control-label"></label>
                <input asp-for="Nom" class="form-control" />
                <span asp-validation-for="Nom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Marque" class="control-label"></label>
                @*<select asp-for="Marque" class="form-control"></select>*@
                <select asp-for="Marque" asp-items="Html.GetEnumSelectList<Marque>()" class="form-control">
                    <option value=""></option>
                </select>
                <span asp-validation-for="Marque" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageUrl" class="control-label"></label>
                <input asp-for="ImageUrl" class="form-control" />
                <input type="file" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rating" class="control-label"></label>
                <input asp-for="Rating" class="form-control" />
                <span asp-validation-for="Rating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MarqueUrl" class="control-label"></label>
                <input asp-for="MarqueUrl" class="form-control" />
                <span asp-validation-for="MarqueUrl" class="text-danger"></span>
            </div>
            <!-- perfumery_storeId-->
            <div class="form-group">
                <label asp-for="Perfumery_StoreId" class="control-label"></label>
                <select asp-for="Perfumery_StoreId" class="form-control" asp-items="ViewBag.Perfumery_StoreId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div style="margin-top:10px">
    <a class="btn btn-secondary" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    
}
